body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    border: 1px solid orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    border: 1px solid green;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}